<div>
    {{#each beersFromApi}}
    <h2>{{name}}</h2>
    <img src="{{img_url}}" alt="{{name}}">
    <p>name: {{name}}</p>
    <p>description: {{description}} </p>
    <p>Tag Line: {{tagline}}</p>
    

    {{/each}}
</div>